{
    "plugins": [
        [
            "semantic-release-gitmoji",
            {
                "releaseRules": {
                    "major": {
                        "include": [
                            ":building_construction:",
                            ":boom:",
                            ":rocket:"
                        ]
                    },
                    "minor": {
                        "include": [
                            ":tada:",
                            ":alembic:",
                            ":heavy_plus_sign:",
                            ":sparkles:"
                        ]
                    },
                    "patch": {
                        "include": [
                            ":art:",
                            ":zap:",
                            ":fire:",
                            ":bug:",
                            ":ambulance:",
                            ":memo:",
                            ":lipstick:",
                            ":white_check_mark:",
                            ":lock:",
                            ":closed_lock_with_key:",
                            ":bookmark:",
                            ":rotating_light:",
                            ":construction:",
                            ":green_heart:",
                            ":arrow_down:",
                            ":arrow_up:",
                            ":construction_worker:",
                            ":chart_with_upwards_trend:",
                            ":recycle:",
                            ":heavy_minus_sign:",
                            ":wrench:",
                            ":hammer:",
                            ":globe_with_meridians:",
                            ":pencil2:",
                            ":poop:",
                            ":rewind:",
                            ":twisted_rightwards_arrows:",
                            ":package:",
                            ":alien:",
                            ":truck:",
                            ":page_facing_up:",
                            ":bento:",
                            ":wheelchair:",
                            ":bulb:",
                            ":beers:",
                            ":speech_balloon:",
                            ":card_file_box:",
                            ":loud_sound:",
                            ":mute:",
                            ":busts_in_silhouette:",
                            ":children_crossing:",
                            ":iphone:",
                            ":clown_face:",
                            ":egg:",
                            ":see_no_evil:",
                            ":camera_flash:",
                            ":mag:",
                            ":label:",
                            ":seedling:",
                            ":triangular_flag_on_post:",
                            ":goal_net:",
                            ":dizzy:",
                            ":wastebasket:",
                            ":passport_control:",
                            ":adhesive_bandage:",
                            ":monocle_face:",
                            ":coffin:",
                            ":test_tube:",
                            ":necktie:",
                            ":stethoscope:",
                            ":bricks:",
                            ":technologist:",
                            ":money_with_wings:",
                            ":thread:",
                            ":safety_vest:",
                            ":airplane:"
                        ]
                    }
                }
            }
        ],
        [
            "@semantic-release/exec",
            {
                "verifyReleaseCmd": "echo ${nextRelease.version} > VERSION.txt"
            }
        ],
        "@semantic-release/github"
    ],
    "branches": [
        "main",
        "+([0-9])?(.{+([0-9]),x}).x",
        {
            "name": "dev",
            "prerelease": true
        },
        {
            "name": "beta",
            "prerelease": true
        }
    ]
}
